.formClose {
  display: none;
}

#blur {
  position: absolute;
  top: -50%;
  left: -130%;
  width: 300%;
  height: 150%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 950;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.formConnect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 30px;
  background: #828282;
  width: 25%;
  border-radius: 3px;
  color: #F3F3F3;
  font-size: 13px;
}

.formConnect h2 {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  letter-spacing: 8px;
  font-size: 34px;
  text-align: center;
  width: 100%;
  padding: 4%;
}

.formConnect a {
  font-size: 12px;
  line-height: 40.4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.formConnect a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e7e7e7;
}

.form_conect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: start;
  font-family: 'Spartan', sans-serif;
  padding: 0 10%;
}

.form_conect label {
  padding: 15px 0 5px;
  letter-spacing: 2px;
}

.form_conect input {
  border: none;
  height: 24px;
  padding-left: 7px;
}

.form_conect div {
  padding: 15% 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.close-container {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.leftright {
  height: 3px;
  width: 25px;
  position: absolute;
  background-color: #aaaaaa;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.rightleft {
  height: 3px;
  width: 25px;
  position: absolute;
  background-color: #aaaaaa;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.close-container:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #e7e7e7;
}

.close-container:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #e7e7e7;
}

.formConnect button {
  padding: 5px 16px;
  color: #b7ffbf;
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  background: #82828200;
  border: solid 2px #b7ffbf;
  line-height: 30.4px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.formConnect button:hover {
  border: solid 2px #b7ffbf00;
  background-color: #b7ffbf;
  color: #828282;
}
/*# sourceMappingURL=formConnect.css.map */